<html>
<head>
	<title>Login</title>
</head>
<body>
	<form method="post" action="../controller/loginCheck.php">
		<fieldset>
			
			<table  width="100%" height="100%" border="0" cellpadding="5"
			bgcolor="Orange">
			<tr>
				<td align="center">
					<legend><h1><font face="American Captain" size="10" color="Purple">log In</font></h1></legend>
			<table width="400" bordercolor="Orange" border="4" cellspacing="4" cellpadding="6">
				<tr>
					<td>Username:</td>
					<td><input type="text" name="username" value=""></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="password" value=""></td>
				</tr>
				<tr>
					<td>
					Please press Submit 
					</td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
		<html>
			<a href="signup.html"><font face="Satisfy" size ="5" color="Black">If you are new here please</font> <font face="Satisfy" size ="5" color="Blue">Sign Up</font></a>
	</form>
</body>
</html>